.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}

#product-overview {
    background:
            linear-gradient(to bottom, rgba(80, 60, 18, 0.5) 10%, transparent ),
    url("background.jpg") left 10% bottom 25%/cover no-repeat border-box,
    red;
    /*background-position: left bottom;*/
    /*background-size: cover;*/
    /*background-origin: border-box;*/
    /*background-clip: padding-box;*/
    /*background-attachment: local;*/
    /*background-image: linear-gradient(180deg,red 40%, blue 40%, black);*/
    /*background-image: radial-gradient(ellipse farthest-corner at 20% 50%,red, blue);*/
    width: 100%;
    height: 35vh;
    /*padding: 10px;*/
    margin-top: 2.6rem;
    position: relative;
    /*border: 6px dashed red;*/
}

.section-title {
    color: #2ddf5c;
    font-family: inherit;
    text-align: center;
}

#product-overview h2 {
    color: wheat;
    font-family: 'Protest Revolution', sans-serif;
    position: absolute;
    bottom: 50%;
    left: 10%;
}

.plan__list{
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan{
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted{
    background: #19b84c;
    color: whitesmoke;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    min-width: max-content;
}

.plan__annotation{
    background-color: whitesmoke;
    color: #0e4f1f;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0.3rem;
    min-width: max-content;
    border-radius: 8px;
}

.plan__title{
    color: #0e4f1f;
}

.plan__price{
    color: #858585;
}

.plan--highlighted .plan__title{
    color: whitesmoke;
}

.plan--highlighted .plan__price{
    color: #0e4f1f;
}

.plan__features{
    text-align: center;
    list-style: none;
    padding: 0.125rem;
}

.plan__feature{
    margin: 0.25rem;
}


#key--features{
    background: #ff1b68;
}

#key--features > .section-title{
    color: whitesmoke;
    margin-top: 60px;
    padding: 1.5rem;
}



.key-feature__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.key-feature{
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 30%;
    margin-bottom: 1.5rem;
}

.key-feature__image{
    background-color: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid black;
    border-radius: 50%;
    /*display: inline-block;*/
    margin: auto;
    padding: 20px;
}

.key-feature__description{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.25rem;
}

