.testimonial {
    font-size: 1.2rem;
    margin: min(3rem, 48px) 0;
    /*padding: 0 10px;*/
    /*display: inline;*/
    text-align: center;
}

.testimonial__list {
    width: 80%;
    margin: auto;
}

.testimonial:first-of-type {
    margin-top: min(6rem, 96px);
}

.testimonial__image-container{
    width: 65%;
    max-width: 450px;
    min-width: 350px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.3);
}

.testimonial__image{
    width: 100%;
    vertical-align: middle;
}

.testimonial__info {
    text-align: right;
    padding: 0.875rem;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

/*#customer-2.testimonial {*/
/*    text-align: right;*/
/*}*/

#customer-2 .testimonial__info {
    text-align: left;
}

.testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
}

.testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
}

.testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
    color: #7a7a7a;
}

.testimonial__text {
    margin: 0.2rem;
}

